

<p id="notice"><%= notice %></p>

<h1>Menus</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Price</th>
      <th>Cooks</th>
      <th>Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.name %></td>
        <td><%= menu.description %></td>
        <td>
          <a href="<%= cook_menu_path(current_user, menu) %>">
            <%= image_tag menu.picture.thumb ,class:"menu-img" %>
          </a>
        </td>
        <td><%= menu.price %></td>
        <td><%= menu.cook.name %></td>
        <td><%= menu.date %></td>
        <td><%= link_to 'Edit', edit_cook_menu_path(current_user.id, menu) %></td>
        <td><%= link_to 'Destroy', cook_menu_path(current_user.id, menu), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu', new_cook_menu_path(current_user) %> <br>

<%= link_to 'Home', root_path%> 