<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @menu.picture %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>

<p>
  <strong>Cooks:</strong>
  <%= @menu.cook %>
</p>

<p>
  <strong>Date:</strong>
  <%= @menu.date %>
</p>


<%= link_to 'Back', cook_menus_path(current_user) %>
