<!-- menú de navegación -->
<%= render 'shared/navbar' %>

<section class="slider">
  <!-- Jumbotron -->
  <div class="jumbotron mt-5 rounded-0 bg-transparent">
    <div class="container">
      <h1 class="display-3">Hello, world!</h1>
      <p class="lead text-white">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p class="text-white">It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
  <!-- Fin Jumbotron -->
</section>

<!-- Cards -->
<section class="container mt-5">
  <div class="row">
    <% @cooks.each do |cook| %>
    <div class="col-md-4">
      <div class="card mt-3">
        <%= image_tag cook.picture, class: 'card-img-top img-fluid' %>
        <div class="card-body">
          <h4 class="card-title"><%= cook.name%></h4>
          <p class="card-text"><%= cook.biography %></p>
          <p> <%= cook.address_commune %></p>
          <p> <%= cook.address_region %></p>
        </div>
        <div class="card-footer d-flex flex-row justify-content-center">
          <%= link_to("ver Menu", cook_path(cook), class:"btn btn-outline-primary mr-2" ) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</section>
<!-- Fin Cards -->
